.lead__title {
  font-family: "Inter-Black", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-top: 48px;
  max-width: 720px;
}

@media all and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    margin-bottom: 32px;
  }
}

@media all and (min-width: 1280px) {
  .lead__title {
    margin-top: 56px;
  }
}
