.cover {
  max-width: 1184px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  position: relative;
}

@media all and (min-width: 768px) {
  .cover {
    margin-top: 92px;
  }
}
