footer {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
  margin-bottom: 24px;
  margin-left: 48px;
  margin-right: 48px;
}

@media all and (max-width: 768px) {
  footer {
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
    flex-direction: column;
  }
}

@media all and (max-width: 320px) {
  footer {
    margin-top: 64x;
    margin-left: 16px;
    margin-right: 16px;
  }
}
